@import './variables.css';

/* Ajuste setas carrossel */
.carousel-control-prev,
.carousel-control-next {
  width: auto;
  height: auto;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  background: none;
  padding: 0;
}

.carousel-control-prev {
  left: 15px;
  right: auto;
}

.carousel-control-next {
  right: 15px;
  left: auto;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  padding: 10px;
  width: 40px;
  height: 40px;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
  pointer-events: auto;
}

/* Dimensionamento do carrossel */
.carousel-inner,
.carousel-item {
  height: 88vh;
  /* background-color: rgb(56, 56, 56); */
}

.carousel-item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.carousel-caption {
  position: absolute;
  width: 800px;
  height: 350px;
  top: 30%;
  left: 0%;
  padding: 0 100px;
  text-align: left;
  color: var(--color-gray-50);
  z-index: 10;
  display: flex;
  flex-direction: column;
  translate: 5%;
}

.carousel-caption .title {
  font-size: 48px;
}

.carousel-caption .subtitle {
  font-size: 28px;
}

.carousel-caption .description {
  font-size: 20px;
}

/* Botões gerais da página (botão do carrossel e do banner about) */
.carousel-caption .btn,
.about-btn {
  margin-top: 20px;
  padding: 12px 24px;
  background-color: var(--color-gray-50);
  color: var(--color-gray-950);
  border-radius: 0;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  border: none;
  transition: border-radius 0.3s ease;
}

.carousel-caption .btn:hover,
.about-btn:hover {
  border-radius: 8px;
}

/* Formatação do menu de serviços */
.product-bar {
  padding: 0 100px;
  position: relative;
  height: auto;
  width: 100%;
  overflow: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.product-spacing {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 0;
  width: 100%;
  scrollbar-width: none; /* Firefox */
}

.product-item {
  width: 160px;
  height: 14vh;
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.product-item img {
  width: 40px;
  height: 40px;
}

.product-item p {
  color: var(--color-gray-800);
  margin: 0;
  font-size: 12px;
  line-height: 1.2;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

.product-item:hover {
  transform: scale(1.1);
  text-decoration: none;
}

/* Produtos */
.produtos-destaque {
  padding: 60px 100px;
  background: #fff;
}

.produtos-destaque h2 {
  font-size: 64px;
}

.produtos-destaque .descricao {
  font-size: 18px;
  max-width: 700px;
  font-weight: 300;
  color: #555;
}

.produtos-destaque .titulo {
  margin-bottom: 50px;
}

.produtos-grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.produto-card {
  display: grid;
  gap: 10px;
  text-align: left;
  border-radius: 8px;
  opacity: 0;
  transform: translateY(-40px);
  animation: cair 0.6s forwards;
  animation-delay: var(--delay);
  max-width: 400px;
  margin-bottom: 50px;
}

@keyframes cair {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.produto-texto {
  text-align: start;
}

.imagem-wrapper {
  padding-top: 15px;
  height: 250px;
  width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 6px;
  background: var(--color-gray-200);
}

.imagem-wrapper img {
  width: 100%;
  transition: transform 0.3s ease;
}

.imagem-wrapper:hover img {
  transform: scale(1.05);
}

.imagem-wrapper .tag {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: #e8f0ff;
  color: #0057d9;
  font-size: 0.75rem;
  padding: 4px 10px;
  border-radius: 999px;
  font-weight: 600;
}

.produto-card h4 {
  margin: 15px 0 5px;
  font-size: 1.2rem;
}

.produto-card .descricao {
  font-size: 0.95rem;
  color: #666;
  margin-bottom: 10px;
}

.produto-card a {
  color: #0057d9;
  text-decoration: none;
  font-weight: 500;
}

.ver-todos {
  display: flex;
  justify-content: flex-start;
}

.botao {
  display: inline-block;
  padding: 12px 24px;
  background: #000;
  color: var(--color-gray-50);
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s;
}

.botao:hover {
  background: #222;
  color: var(--color-gray-50);
  border-radius: 8px;
}

/* Banner gerais */
.banner {
  background: linear-gradient(to right, var(--color-primary-800), var(--color-primary-400));
  color: var(--color-gray-50);
  padding: 6rem 2rem;
}

.banner.about {
  border-bottom-right-radius: 175px;
  height: 520px;
}

.banner.preforms {
  border-top-left-radius: 175px;
  height: 488px;
}

.banner-content {
  padding-left: 10vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1100px;
  margin: auto;
}

.text-content {
  max-width: 500px;
}

.text-content h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.text-content p {
  margin-bottom: 1.5rem;
}

.image-content img {
  max-width: 300px;
  height: auto;
}

/* Responsivo */
@media (max-width: 768px) {
  .preforms-content {
    flex-direction: column;
    text-align: center;
  }

  .image-content img {
    margin-top: 2rem;
  }

  .form-row {
    flex-direction: column;
  }
}
